%header
  .header_base
    %h1
      %img{:alt => "ONE OK ROCK", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"}
  .contents.row
    .success
      %h3
        Deletion completed
      %a.btn{href: tweets_path(@tweets)} Return to Post List