%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), "/"
  .main_base
    .two_col
      .main_col
        #about
          %h2
            %img{:alt => "ABOUT", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_about.png"}/
          .portrait
            %img{:alt => "portrait", :src => "http://www.oneokrock.com/wp-content/uploads/2018/11/OOR181123about.jpg"}/
          %h3.name
            %img{:alt => "ONE OK ROCK", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/about/h3_oneokrock.png"}/
          .intro
            %p.p1
              %span.s1> 2005年にバンド結成。エモ、ロックを軸にしたサウンドとアグレッシブなライブパフォーマンスが若い世代に支持されてきた。
            %p.p1
              %span.s1> 2007年にデビューして以来、全国ライブハウスツアーや各地夏フェスを中心に積極的にライブを行う。これまでに、武道館、野外スタジアム公演、大規模な全国アリーナツアーなどを成功させる。
              %span.s1> 2016年には
              %span.s1> 11万人規模を動員する野外ライブを、
              %span.s1> 2018年は東京ドーム
              %span.s1> 2日間を含む全国ドームツアを開催。
            %p.p1
              日本のみならず海外レーベルとの契約をし、アルバム発売を経てアメリカ、ヨーロッパ、アジアでのワールドツアーを 成功させるなど世界基準のバンドになってきている。
              %span.s1> 2019年
              %span.s1> 2月にはニューアルバム「
              %span.s1>Eye of the Storm」を全世界で同時リリースが決定
          %ul.member_list
            %li
              %img{:alt => "VOCALS : TAKA , BORN ON  1988.4.17 / TOKYO", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/about/taka.png"}/
            %li
              %img{:alt => "GUITARS : TORU , BORN ON  1988.12.7 / OSAKA", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/about/toru.png"}/
            %li
              %img{:alt => "BASS : RYOTA , BORN ON  1989.9.4 / OSAKA", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/about/ryota.png"}/
            %li
              %img{:alt => "DRUMS : TOMOYA , BORN ON  1987.6.27 / HYOGO", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/about/tomoya.png"}/
      .sub_col
        #sns
          %ul.sns_list
            %li
              %a.o{:href => "https://twitter.com/ONEOKROCK_japan", :target => "_blank"}
                %i.icon_twitter
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/twitter.png"}/
            %li
              %a.o{:href => "https://www.facebook.com/ONEOKROCK", :target => "_blank"}
                %i.icon_facebook
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/facebook.png"}/
            %li
              %a.o{:href => "http://instagram.com/oneokrockofficial", :target => "_blank"}
                %i.icon_instagram
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/instagram.png"}/
            %li
              %a.o{:href => "https://www.youtube.com/user/ONEOKROCKchannel", :target => "_blank"}
                %i.icon_youtube
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/youtube.png"}/
            %li
              %a.o{:href => "http://smarturl.it/ONEOKROCK", :target => "_blank"}
                %i.icon_itune
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/itune.png"}/
            %li
              %a.o{:href => "https://play.spotify.com/artist/7k73EtZwoPs516ZxE72KsO", :target => "_blank"}
                %i.icon_spotify
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/spotify.png"}/
        -# sns
        #pickup_video
          .youtube
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "208", :src => "http://www.youtube.com/embed/uyaKoj7wABY/?wmode=transparent", :width => "369"}
          %p.more
            %a.o.inverse{:href => ""}
              %img{:alt => "MORE VIDEOS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_more_videos.png"}/
        -# pickup_video
        #twitter_widget
          %h2
            %img{:alt => "TWITTER", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_twitter.png"}/
          %p.follow
            %a.o{:href => "http://twitter.com/ONEOKROCK_japan", :target => "_blank"}
              %img{:alt => "FOLLOW", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_follow.png"}/
        -# twitter_widget
        #side_banners
          %ul.banner_list
            %li
              %a.o{:href => "https://oneokrock-pf.com/", :target => "_blank"}
                %img{:alt => "", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/side_banner/side_banner_1.png"}/
            %li
              %a.o{:href => "https://oneokrock-pf.com/", :target => "_blank"}
                %img{:alt => "", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/side_banner/side_banner_2.png"}/
          %iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered{:allowfullscreen => "true", :allowtransparency => "true", "data-widget-id" => "profile:ONEOKROCK_japan", :frameborder => "0", :scrolling => "no", :style => "position: static; visibility: visible; display: inline-block; width: 100%; height: 360px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px; z-index:20;", :title => "Twitterタイムライン"}
    #return_top
      %a.o{:href => "#"}
        %img{:alt => "RETURN PAGE TOP", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_return_top.png"}/
  %footer
    .content_base
      %p.copyright
        %img{:alt => "copyright", :height => "8", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/copyright.png", :width => "179"}/


