%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), "/"
  .main_base
    .two_col
      .main_col
        #music
          %h2
            %img{:alt => "MUSIC", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_music.png"}/
          #album.category
            %h3
              %img{:alt => "ALBUM", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h3_album.png"}/
            %ul.thumb_list
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2018/11/Eye-of-the-Storm_FBR_JK2.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2018/11/Eye-of-the-Storm_ASK_JK2.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2016/11/Ambitions540.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2016/11/Ambitions_H1_fix-e1479377906268.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/12/e44732e17923e291c3003e81b36bc6fc-e1418581521334.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2015/07/35xxxv_DE_03-e14363205206921.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/6c6a301f797778971dd04038d22bfb101.png"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/d3c25630ebd5b1b8e57bafcbbafde2351.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/7ecfde13b4a49976f1755d551d876fce1.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/391b83072b705ef7f939d3fa327d18721.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/BEAM-OF-LIGHT1.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/7731853455009e7f55cfceb5694e76731.jpg"}/
          #simble.category
            %h3
              %img{:alt => "SINGLE", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h3_single.png"}/
            %ul.thumb_list
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/Mighty-Long-Fall1.png"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/Deeper-Deeper_Nothing-Helps1.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/The-Beginning1.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/remake_no-scared1.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/1ec4e85c1203c8b141a11c84c4353c831.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/a3da6908325d30042548b45920dc46731.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/15b7e38190dfbfa8b2fab75bb8d2fe2b1.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/c3c9b26a68ea2090901b1fba86e46b551.jpg"}/
              %li
                %a.o{:href => ""}
                  %img{:alt => "", :height => "100", :src => "http://www.oneokrock.com/wp-content/uploads/2014/10/f72f0ace3e7a886b5ba1a7a580ca0ae21.jpg"}/
      .sub_col
        #sns
          %ul.sns_list
            %li
              %a.o{:href => "https://twitter.com/ONEOKROCK_japan", :target => "_blank"}
                %i.icon_twitter
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/twitter.png"}/
            %li
              %a.o{:href => "https://www.facebook.com/ONEOKROCK", :target => "_blank"}
                %i.icon_facebook
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/facebook.png"}/
            %li
              %a.o{:href => "http://instagram.com/oneokrockofficial", :target => "_blank"}
                %i.icon_instagram
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/instagram.png"}/
            %li
              %a.o{:href => "https://www.youtube.com/user/ONEOKROCKchannel", :target => "_blank"}
                %i.icon_youtube
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/youtube.png"}/
            %li
              %a.o{:href => "http://smarturl.it/ONEOKROCK", :target => "_blank"}
                %i.icon_itune
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/itune.png"}/
            %li
              %a.o{:href => "https://play.spotify.com/artist/7k73EtZwoPs516ZxE72KsO", :target => "_blank"}
                %i.icon_spotify
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/spotify.png"}/
        -# sns
        #pickup_video
          .youtube
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "208", :src => "http://www.youtube.com/embed/uyaKoj7wABY/?wmode=transparent", :width => "369"}
          %p.more
            %a.o.inverse{:href => ""}
              %img{:alt => "MORE VIDEOS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_more_videos.png"}/
        -# pickup_video
        #twitter_widget
          %h2
            %img{:alt => "TWITTER", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_twitter.png"}/
          %p.follow
            %a.o{:href => "http://twitter.com/ONEOKROCK_japan", :target => "_blank"}
              %img{:alt => "FOLLOW", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_follow.png"}/
        -# twitter_widget
        #side_banners
          %ul.banner_list
            %li
              %a.o{:href => "https://oneokrock-pf.com/", :target => "_blank"}
                %img{:alt => "", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/side_banner/side_banner_1.png"}/
            %li
              %a.o{:href => "https://oneokrock-pf.com/", :target => "_blank"}
                %img{:alt => "", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/side_banner/side_banner_2.png"}/
    #return_top
      %a.o{:href => "#"}
        %img{:alt => "RETURN PAGE TOP", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_return_top.png"}/
  %footer
    .content_base
      %p.copyright
        %img{:alt => "copyright", :height => "8", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/copyright.png", :width => "179"}/