%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), "/"
  .main_base
    .two_col
      .main_col
        #news
          %h2
            %img{:alt => "NEWS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_news.png"}/
          .news_tab
            %ul
              %li
                %a.o{:href => "#media"}
                  %img{:alt => "MEDIA", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/tab_media_off.png"}/
              %li
                %a.o{:href => "#others"}
                  %img{:alt => "OTHERS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/tab_others_off.png"}/
        #media.news_category
          %h3
            %img{:alt => "MEDIA", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h3_media.png"}/
          %ul.topic_list
            %li
              .description_news
                %p.date
                  2019.11.29
                  %i.icon.new
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2974"} 11月13日(水)に予定しておりました愛知公演のチケットをご購入されたお客様へ
                .headline.color-mid
                  【愛知公演】ONE OK ROCK 振替/追加公演決定のお知らせ
                  2020/3/31(火)、4/1(水) ポートメッセなごや3号館
                  ※11月13日(水)に予定しておりました愛知公演のチケットをご購入さ...
                  %span.color-accent.read_more
                    %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2974"} ［READ MORE]
            %li
              .description_news
                %p.date
                  2019.11.25
                  %i.icon.new
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2969"} 11/13愛知公演中止に伴う振替公演に関しまして(振替/追加公演)
                .headline.color-mid
                  2019年11月13日(水)に予定しておりましたONE OK ROCK “Eye of the Storm” JAPAN TOUR 愛知公演につきまして、チケットをお買い求めいただいた皆様には、ご迷惑...
                  %span.color-accent.read_more
                  %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2969"} ［READ MORE]
            %li
              .description_news
                %p.date
                  2019.11.13
                  %i.icon.new
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2965"} 2019年11月13日(水)ONE OK ROCK 2019-2020 "Eye of the Storm" JAPAN TOUR 愛知公演 にご来場いただきますお客様へ
                .headline.color-mid
                  2019年11月13日(水)に予定しておりました
                  ONE OK ROCK 2019-2020 “Eye of the Storm” JAPAN TOUR 愛知公演につきまして、...
                  %span.color-accent.read_more
                  %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2965"} [READ MORE]
            %li
              .image
                %a{:href => "http://www.oneokrock.com/jp/news/2952"}
                  %img{:alt => "topic_1", :src => "http://www.oneokrock.com/wp-content/uploads/2019/09/OOR_EOTS_goods_WEB-e1567396690465.jpg", :width => "180"}/
              .description
                %p.date
                  2019.10.25
                  %i.icon.new
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2952"} ONE OK ROCK 2019-2020 “Eye of the Storm” JAPAN TOUR 11月以降公演会場販売時間＆「会場引換販売」に関して
                .headline.color-mid
                  【会場引換販売実施公演】
                  %br/
                  大阪城ホール  12/10（火）、12/11（水）
                  ※通常のグッズ販売も実施いたします。
                  〜受付期間〜
                  大阪城ホール  12/10（火）、12/11（水）
                  201...
                  %span.color-accent.read_more
                  %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2952"} ［READ MORE]
            %li
              .image
                %a{:href => "http://www.oneokrock.com/jp/news/2926"}
                  %img{:alt => "topic_1", :src => "http://www.oneokrock.com/wp-content/uploads/2019/10/OOR_3-e1570610392791.jpg", :width => "180"}/
              .description
                %p.date
                  2019.10.09
                  %i.icon.new
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2926"} NHKにてONE OK ROCK World Tour Document放送決定!!
                .headline.color-mid
                  NHKにてONE OK ROCK World Tour Document放送決定!!
                  今年2月から開催した、北米、そしてヨーロッパツアーに密着。
                  総合テレビ 2019年10月19日（土）23:00～2...
                  %span.color-accent.read_more
                    %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2926"} [READ MORE]
            %li
              .description_news
                %p.date
                  2019.09.20
                  %i.icon.new
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2885"} “Eye of the Storm” JAPAN TOURのクロークに関してご案内（随時更新）
                .headline.color-mid
                  ◆9/22(日)・9/23(月祝)朱鷺メッセ
                  ・料金は一袋（45ℓ）500円、お釣りの無いようご用意ください。
                  ・客席入場・指定ブロックへの出入りの際にチケットが必ず必要になりますので、クロークをご利...
                  %span.color-accent.read_more
                    %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2885"} [READ MORE]
        #others.news_category
          %h3
            %img{:alt => "OTHERS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h3_others.png"}/
          %ul.topic_list
            %li
              .image
                %a{:href => "http://www.oneokrock.com/jp/news/2907"}
                  %img{:alt => "topic_1", :src => "http://www.oneokrock.com/wp-content/uploads/2019/09/MAX_cover_E-e1569552128199.jpg", :width => "180"}/
              .description
                %p.date
                  2019.09.27
                  %i.icon
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2907"} ライツ・ダウン・ロウ feat. Taka from ONE OK ROCK
                .headline.color-mid
                  アメリカの実力派ポップスシンガーのMAXが、Takaをゲストに迎えた楽曲「ライツ・ダウン・ロウ feat. Taka from ONE OK ROCK」を9月27日リリース!
                  ●MAX ...
                  %span.color-accent.read_more
                    %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2907"} [READ MORE]
            %li
              .image
                %a{:href => "http://www.oneokrock.com/jp/news/2860"}
                  %img{:alt => "topic_1", :src => "http://www.oneokrock.com/wp-content/uploads/2019/08/00b6ecbb4e8963ff6e5dc060f620c948-e1566303668147.jpg", :width => "180"}/
              .description
                %p.date
                  2019.08.21
                  %i.icon
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2860"} YouTubeにてライブ映像２作品（全曲）を２夜連続で全世界公開
                .headline.color-mid
                  YouTubeにてライブ映像２作品（全曲）を２夜連続で全世界公開決定！！
                  昨年開催されたAMBITIONS JAPAN DOME TOURのライブ映像と、53名のオーケストラを従えて開催...
                  %span.color-accent.read_more
                    %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2860"} [READ MORE]
            %li
              .image
                %a{:href => "http://www.oneokrock.com/jp/news/2729"}
                  %img{:alt => "topic_1", :src => "http://www.oneokrock.com/wp-content/uploads/2019/05/OneOkRock_WT19_National_Social-1-e1557568273698.jpg", :width => "180"}/
              .description
                %p.date
                  2019.05.08
                  %i.icon
                %h3.title
                  %a.pp{:href => "http://www.oneokrock.com/jp/news/2729"} EYE OF THE STORM WORLD TOUR 2019 -US &amp; Mexico-
                .headline.color-mid
                  07.17 Portland, OR – Crystal Ballroom
                  07.19 Sacramento, CA – Ace of Spades
                  07.20 Mountain View, CA –...
                  %span.color-accent.read_more
                    %a.ul.color-accent{:href => "http://www.oneokrock.com/jp/news/2051"} [READ MORE]
      .sub_col
        #sns
          %ul.sns_list
            %li
              %a.o{:href => "https://twitter.com/ONEOKROCK_japan", :target => "_blank"}
                %i.icon_twitter
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/twitter.png"}/
            %li
              %a.o{:href => "https://www.facebook.com/ONEOKROCK", :target => "_blank"}
                %i.icon_facebook
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/facebook.png"}/
            %li
              %a.o{:href => "http://instagram.com/oneokrockofficial", :target => "_blank"}
                %i.icon_instagram
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/instagram.png"}/
            %li
              %a.o{:href => "https://www.youtube.com/user/ONEOKROCKchannel", :target => "_blank"}
                %i.icon_youtube
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/youtube.png"}/
            %li
              %a.o{:href => "http://smarturl.it/ONEOKROCK", :target => "_blank"}
                %i.icon_itune
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/itune.png"}/
            %li
              %a.o{:href => "https://play.spotify.com/artist/7k73EtZwoPs516ZxE72KsO", :target => "_blank"}
                %i.icon_spotify
                  %img{:src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/sprite/spotify.png"}/
        -# sns
        #pickup_video
          .youtube
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "208", :src => "http://www.youtube.com/embed/uyaKoj7wABY/?wmode=transparent", :width => "369"}
          %p.more
            %a.o.inverse{:href => ""}
              %img{:alt => "MORE VIDEOS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_more_videos.png"}/
        -# pickup_video
        #twitter_widget
          %h2
            %img{:alt => "TWITTER", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_twitter.png"}/
          %p.follow
            %a.o{:href => "http://twitter.com/ONEOKROCK_japan", :target => "_blank"}
              %img{:alt => "FOLLOW", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_follow.png"}/
        -# twitter_widget
        #side_banners
          %ul.banner_list
            %li
              %a.o{:href => "https://oneokrock-pf.com/", :target => "_blank"}
                %img{:alt => "", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/side_banner/side_banner_1.png"}/
            %li
              %a.o{:href => "https://oneokrock-pf.com/", :target => "_blank"}
                %img{:alt => "", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/side_banner/side_banner_2.png"}/
    #return_top
      %a.o{:href => "#"}
        %img{:alt => "RETURN PAGE TOP", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_return_top.png"}/
  %footer
    .content_base
      %p.copyright
        %img{:alt => "copyright", :height => "8", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/copyright.png", :width => "179"}/
