%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), "/"
  .main_base
    .one_col
      #tour
        %h2
          %img{:alt => "TOUR", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_tour.png"}/
        %ul#tour_list.drawer_list
          %li#t2764
            .live_header
              %p.date 2019.09.22 - 2020.01.16
              %p.location JAPAN
              %p.title ONE OK ROCK 2019 – 2020 “Eye of the Storm” JAPAN TOUR
              .arrow
                %i.icon.drawer_arrow_off
            .live_content
              %div
                %p 【ONE OK ROCK 2019 – 2020 “Eye of the Storm” JAPAN TOUR】
                %p  
                %p  
                %p
                  ■2019/09/22(日) 新潟 : 朱鷺メッセ・新潟コンベンションセンター
                  %br>/
                  【開場／開演】OPEN 17:00 / START 18:00
                  %br>/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 FOB新潟 025-229-5000
                  %br/
                  %br/
                  %br/
                  ■2019/09/23(月) 新潟 : 朱鷺メッセ・新潟コンベンションセンター
                  %br/
                  【開場／開演】OPEN 16:00 / START 17:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 FOB新潟 025-229-5000
                  %br/
                  %br/
                  %br/
                  ■2019/10/01(火) 大阪 : 大阪城ホール
                  %br/
                  【開場／開演】OPEN 18:00 / START 19:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 YUMEBANCHI 06-6341-3525
                  %br/
                  %br/
                  %br/
                  ■2019/10/02(水) 大阪 : 大阪城ホール
                  %br/
                  【開場／開演】OPEN 18:00 / START 19:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 YUMEBANCHI 06-6341-3525
                  %br/
                  %br/
                  %br/
                  ■2019/10/05(土) 仙台 : 宮城セキスイハイムスーパーアリーナ
                  %br/
                  【開場／開演】OPEN 17:00 / START 18:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 GIP 022-222-9999
                  %br/
                  %br/
                  %br/
                  ■2019/10/06(日) 仙台 : 宮城セキスイハイムスーパーアリーナ
                  %br/
                  【開場／開演】OPEN 15:00 / START 16:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 GIP 022-222-9999
                  %br/
                  %br/
                  %br/
                  ■2019/10/12(土) 北海道 : 真駒内セキスイハイムアイスアリーナ
                  %br/
                  【開場／開演】OPEN 17:00 / START 18:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 WESS 011-614-9999
                  %br/
                  %br/
                  %br/
                  ■2019/10/13(日) 北海道 : 真駒内セキスイハイムアイスアリーナ
                  %br/
                  【開場／開演】OPEN 15:00 / START 16:00
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】 WESS 011-614-9999
                  %br/
                  %br/
                  %br/
                  ■2019/10/19(土)埼玉：さいたまスーパーアリーナ
                  %br/
                  【開場／開演】OPEN 15:30 / START 16:30
                  %br/
                  【一般発売日】2019/08/24(土) 【問い合わせ】SOGO TOKYO 03-3405-9999
                  %br/
                  %br/
                  %br/
                  ※前売TICKET : ￥7,500 (税別)
                  %br/
                  ※アリーナスタンディング(ブロック指定/整理番号付) / スタンド指定席
                  %br/
                  ※新潟・名古屋公演のみアリーナスタンディング(ブロック指定/整理番号付)
                  %br/
                  ※アリーナスタンディング未就学児入場不可
                  %br/
                  %br/
                  %br/
    #return_top
      %a.o{:href => "#"}
        %img{:alt => "RETURN PAGE TOP", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_return_top.png"}/
  %footer
    .content_base
      %p.copyright
        %img{:alt => "copyright", :height => "8", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/copyright.png", :width => "179"}/