%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), "/"
  .main_base
    .one_col
      #videos
        %h2
          %img{:alt => "VIDEOS", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/h2_videos.png"}/
        %ul.list_info
          %li.yt
            %a.o{:href => "https://www.youtube.com/user/ONEOKROCKchannel", :target => "_blank"}
              %i.icon.youtube
          %li.ch
            %a.o{:href => "https://www.youtube.com/playlist?list=PLF15D20605A193237", :target => "_blank"}
              %i.icon.channel
              ONEOKROCKchannel
        .pickup
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "http://www.youtube.com/embed/uyaKoj7wABY/?wmode=transparent", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/bFHcgBfZEq0", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/6j4vxu8dnp4", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/Hh9yZWeTmVM", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/CRLLWNIqb8w", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/q2dFMNPA9jQ", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/IGInsosP0Ac", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/9tvU1emWJgY", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/ha6Fy_LeWtI", :width => "400"}
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/drSMZgnmJjk", :width => "400"}
    #return_top
      %a.o{:href => "#"}
        %img{:alt => "RETURN PAGE TOP", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/btn_return_top.png"}/
  %footer
    .content_base
      %p.copyright
        %img{:alt => "copyright", :height => "8", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/copyright.png", :width => "179"}/