.one_col {
  padding: 0 30px;
  #videos {
    position: relative;
    .list_info {
      position: absolute;
      font-size: 12px;
      top: 0;
      right: 0;
      padding-top: 2px;
      .icon_channel {
        font-size: 13px;
      }
    }
    .pickup {
      padding-top: 30px;
      .v {
        padding-top: 10px;
        padding-left: 20px;
      }
    }
  }
}