@import "./reset";
@import "./post";
@import "./music";
@import "./tweet";
@import "user";
@import "flash";
@import "./about";

.slick-dots {
  position: absolute !important;
  bottom: 20px !important;
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 14px !important;
      color: rgb(255, 255, 255) !important;
    }
  }
}